version: "3.9"

services:
  db:
    image: postgres:16-alpine
    container_name: postgres_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: mydb
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]

  server:
    build: ./server
    container_name: express_api
    restart: always
    depends_on:
      db:
        condition: service_healthy
    environment:
      PORT: 5000
      DATABASE_URL: postgres://postgres:postgres@db:5432/mydb
    ports:
      - "5000:5000"
    volumes:
      - ./server:/app
      - /app/node_modules

  client:
    build: ./client
    container_name: react_frontend
    restart: always
    depends_on:
      - server
    ports:
      - "3000:80"
    volumes:
      - ./client:/app
      - /app/node_modules

volumes:
  pgdata:
  